#about-me {
    padding: 100px 0;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap-reverse;
}

#about-me img {
    width: 400px;
    border: 15px solid var(--text-color);
    max-width: calc(90% - 30px);
}

.about-me-container {
    width: 750px;
    max-width: 90%;
}

.about-me-container h2 {
    font-size: 80px;
}

.about-me-container p {
    text-align: justify;
    line-height: 175%;
}

@media(max-width: 800px) {
    #about-me {
        padding: 50px 0;
    }

    #about-me h2 {
        text-align: center;
        font-size: 12vw;
    }
}