#alert {
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: red;
    color: var(--text-color);
}

@media (max-width: 800px) {
    #alert {
        text-align: center;
    }
}