#more-information {
    padding: 70px 0 20px;
    background-color: var(--secondary-color);
}

#more-information h2 {
    font-size: 50px;
    text-align: center;
}

.grid-container {
    margin: 60px auto 40px;
    width: 1500px;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
    grid-template-areas:
        "item1 item1 item2 item3"
        "item4 item5 item5 item3"
    ;
}

.grid-container a {
    color: var(--text-color);
    text-decoration: none;
}

.grid-container a:hover {
    color: var(--secondary-text-color);
}

.grid-item {
    background-color: var(--light-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.grid-item img {
    height: 150px;
    width: 150px;
}

#item1 {
    grid-area: item1;
}

#item2 {
    grid-area: item2;
    flex-direction: column;
    gap: 10px;
}

#item3 {
    grid-area: item3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

#item4 {
    grid-area: item4;
    flex-direction: column;
    gap: 10px;
}

#item5 {
    grid-area: item5;
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.footer-nav a {
    font-size: 15px;
    text-decoration: none;
    color: var(--text-color);
}

.footer-nav a:hover {
    color: var(--secondary-text-color);
}

@media(max-width: 1300px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 300px 300px;
        grid-template-areas:
            "item1 item1 item2"
            "item4 item5 item5"
            "item3 item3 item3"
        ;
    }
}

@media(max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "item1 item1"
            "item5 item5"
            "item2 item4"
            "item3 item3"
        ;
    }
}

@media(max-width: 800px) {
    .footer-nav a {
        font-size: 14px;
    }
}

@media(max-width: 650px) {
    footer h2 {
        font-size: 9vw;
    }

    .grid-item {
        padding: 20px;
    }

    .grid-item img {
        width: 100px;
        height: 100px;
    }

    .grid-item h3 {
        font-size: 24px;
    }

    .footer-nav a {
        font-size: 12px;
    }
}