:root {
    --main-brand-color: #ff6d00;
    --primary-color: #15171c;
    --secondary-color: #2c3b41;
    --light-secondary-color: #586b75;
    --text-color: white;
    --secondary-text-color: #b3b4b6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: var(--text-color);
}

h1 {
    font-size: 100px;
    line-height: 115%;
}

.subheading {
    margin-top: 25px;
    color: var(--secondary-text-color);
}

h3 {
    font-size: 38px;
}

@media(max-width: 800px) {
    h1 {
        font-size: 12vw;
        text-align: center;
    }

    .subheading {
        text-align: center;
    }

    body {
        font-size: 16px;
    }
}