#imprint {
    padding: 35px 0;
    background-color: var(--secondary-color);
}

#imprint h2 {
    font-size: 50px;
    text-align: center;
}

.imprint-container {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.imprint-item h3 {
    margin: 10px 0;
    font-size: 38px;
}

.imprint-item a {
    text-decoration: none;
    color: var(--text-color);
}

.imprint-item a:hover {
    color: var(--secondary-text-color);
}

@media(max-width: 800px) {
    #imprint h2 {
        font-size: 38px;
    }

    .imprint-item h3 {
        font-size: 24px;
    }
}