#services {
    padding: 70px 0;
    background-color: var(--primary-color);
}

#services h2 {
    font-size: 50px;
    text-align: center;
}

.flex-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    max-width: calc(90% - 40px);
    background-color: var(--secondary-color);
    border-radius: 100px;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.card * {
    text-align: center;
}

.card p {
    height: 150px;
}

.card a {
    background-color: var(--main-brand-color);
    width: min-content;
    max-width: calc(90% - 40px);
    padding: 15px 40px;
    border-radius: 50px;
    margin: 15px auto 0;
    margin: 15 auto 0;
    text-decoration: none;
    color: var(--text-color);
    border: 4px solid var(--main-brand-color);
    transition: 150ms ease-in-out;
}

.card a:hover {
    background: transparent;
}

@media (max-width: 820px) {
    .card p {
        height: auto;
    }

    .card a {
        margin: 0 auto;
    }
}

@media(max-width: 500px) {
    #services h2 {
        font-size: 12vw;
    }
}